<style>
        body{
                margin:0;
                padding:0;
            }
                    }
            h1,h2,h3,h4,h5,h6,p,ul,li,ol,img,a{
                margin:0;
                padding:0;
            }
            h1{
                font-size:42px;
            }
            p {
                color:red;
                font-size:30px;
                font-weight:bold;
            }
            #first-paragraph{
                color:green;
            }
            #second-paragraph{
                color:blue;
            }
            .my-own-class{
                font-size:20px;
                font-style:italic;
                text-decoration:underline;

            }
            h1{
                background-color:blueviolet;
                color:white;
                text-align:center;
                text-decoration:underline;
                text-decoration-color: aquamarine;
            }
            .box1{
                width:200;
                height:200px;
                background:pink;
                text-align: center;
                background: url('christmas.jpg');
            }
            h5{
                color:red;
            }
</style>