<style>
body{
    margin:0;
    padding:0;
}
        }
h1,h2,h3,h4,h5,h6,p,ul,li,ol,img,a{
    margin:0;
    padding:0;
}
h1{
    font-size:42px;
}
p {
    color:red;
    font-size:30px;
    font-weight:bold;
}
</style